.uppercase {
  text-transform: uppercase;
}

.text-shadow {
  --_text-shadow-color: var(--color-text);
  text-shadow: 0.07em 0.07em var(--_text-shadow-color);
}

/* do we want to use a mix of markup and CSS in styling? or just stick with CSS files—no markup?*/
[data-color="yellow"] {
  color: var(--color-accent-yellow);
}
[data-color="orange"] {
  color: var(--color-accent-orange);
}
[data-color="green"] {
  color: var(--color-accent-green);
}
[data-color="pink"] {
  color: var(--color-accent-pink);
}
[data-color="purple"] {
  color: var(--color-accent-purple);
}
[data-color="muted"] {
  color: var(--color-accent-muted);
}
