/* VARIABLES */
:root {
  /* colors */

  /* light defaults */
  --color-base_light: #fffdfb;
  --color-bkg_light: #f4f3f1;
  --color-text_light: #232222;
  --color-accent-yellow_light: #f6bb1c;
  --color-accent-orange_light: #e36220;
  --color-accent-green_light: #0a5c48;
  --color-accent-pink_light: #f79dbe;
  --color-accent-purple_light: #5661c5;
  --color-muted_light: #b3afaf;

  /* dark defaults */
  --color-base_dark: #232222;
  --color-bkg_dark: #3b3939;
  --color-text_dark: #fffdfb;
  --color-accent-yellow_dark: #dba615;
  --color-accent-orange_dark: #cc5519;
  --color-accent-green_dark: #07523f;
  --color-accent-pink_dark: #df7ca1;
  --color-accent-purple_dark: #4853b8;
  --color-muted_dark: #4e4a4a;

  /* set defaults */
  --color-base: var(--color-base_light);
  --color-bkg: var(--color-bkg_light);
  --color-text: var(--color-text_light);
  --color-accent-yellow: var(--color-accent-yellow_light);
  --color-accent-orange: var(--color-accent-orange_light);
  --color-accent-green: var(--color-accent-green_light);
  --color-accent-pink: var(--color-accent-pink_light);
  --color-accent-purple: var(--color-accent-purple_light);
  --color-muted: var(--color-muted_light);
  color-scheme: light dark;

  /* font sizes */
  --fs-2xs: clamp(0.64rem, 0.6552rem + -0.0196vw, 0.6513rem);
  --fs-xs: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --fs-sm: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --fs-base: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --fs-md: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --fs-lg: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --fs-xl: clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem);
  --fs-2xl: clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem);
  --fs-3xl: clamp(2.7994rem, 2.4461rem + 1.7663vw, 3.815rem);

  /* line height */
  --lh-base: 1.4;
  --lh-headings: 1.1;

  /* spacings */
  --space-4xs: clamp(0.1875rem, 0.1875rem + 0vw, 0.1875rem);
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.625rem, 0.6033rem + 0.1087vw, 0.6875rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-sm: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-md: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-lg: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* radiuses */
  --rounded-sm: 0.5rem;
  --rounded-full: 100vmax;

  /* transition speed */
  --fast: 0.1s;
  --slow: 0.3s;

  /* easing */
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* THEMING MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --color-base: var(--color-base_dark);
    --color-bkg: var(--color-bkg_dark);
    --color-text: var(--color-text_dark);
    --color-accent-yellow: var(--color-accent-yellow_dark);
    --color-accent-orange: var(--color-accent-orange_dark);
    --color-accent-green: var(--color-accent-green_dark);
    --color-accent-pink: var(--color-accent-pink_dark);
    --color-accent-purple: var(--color-accent-purple_dark);
    --color-muted: var(--color-muted_dark);
    color-scheme: dark light;
  }
}

[data-theme="dark"] {
  --color-base: var(--color-base_dark);
  --color-bkg: var(--color-bkg_dark);
  --color-text: var(--color-text_dark);
  --color-accent-yellow: var(--color-accent-yellow_dark);
  --color-accent-orange: var(--color-accent-orange_dark);
  --color-accent-green: var(--color-accent-green_dark);
  --color-accent-pink: var(--color-accent-pink_dark);
  --color-accent-purple: var(--color-accent-purple_dark);
  --color-muted: var(--color-muted_dark);
  color-scheme: dark light;
}

[data-theme="light"] {
  --color-base: var(--color-base_light);
  --color-bkg: var(--color-bkg_light);
  --color-text: var(--color-text_light);
  --color-accent-yellow: var(--color-accent-yellow_light);
  --color-accent-orange: var(--color-accent-orange_light);
  --color-accent-green: var(--color-accent-green_light);
  --color-accent-pink: var(--color-accent-pink_light);
  --color-accent-purple: var(--color-accent-purple_light);
  --color-muted: var(--color-muted_light);
  color-scheme: light dark;
}
